{% load bootstrap4 %}
{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Retail Bot</title>
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'Stellar-master/vendors/simple-line-icons/css/simple-line-icons.css' %}">
        <link rel="stylesheet" href="{% static 'Stellar-master/vendors/flag-icon-css/css/flag-icon.min.css' %}">
        <link rel="stylesheet" href="{% static 'Stellar-master/vendors/css/vendor.bundle.base.css' %}">
        <link rel="stylesheet" href="{% static 'Stellar-master/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'Stellar-master/vendors/chartist/chartist.min.css' %}">
        <link rel="shortcut icon" href="{% static 'Stellar-master/images/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- SIDEBAR -->
      {% include 'seller/sidebar.html' %}
        <div class="main-panel">
          <div class="content-wrapper">
            {% bootstrap_messages %}

            <div class="row">
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4>Распределение заказов</h4>
                    <div class="ct-chart ct-perfect-fourth" id="Orders"></div>
                    <ul class="list-ticked mt-5">
                      <li>Новые: {{orders_new}}</li>
                      <li>Ожидают оплату: {{orders_opened}}</li>
                      <li>Оплаченные: {{orders_closed}}</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4>Топ товаров</h4>
                    <div class="ct-chart ct-perfect-fourth" id="TopProducts"></div>
                    <ul class="list-ticked">
                      <li>Название товара</li>
                      <li>Название товара</li>
                      <li>Название товара</li>
                      <li>Название товара</li>
                      <li>Название товара</li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4>Хронология оплат</h4>
                    <div class="ct-chart" id="Chrono"></div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          {% include 'footer.html' %}
        </div>

  <script src="{% static 'Stellar-master/vendors/chartist/chartist.min.js' %}"></script>
  <script src="bower_components/chartist/dist/chartist.min.js"></script>
  <script type="text/javascript">
    new Chartist.Pie('#Orders', {
      labels: ['Новые', 'Ожидают оплату', 'Оплаченные'],
      series: [{{orders_new}}, {{orders_opened}}, {{orders_closed}}]
    });


    new Chartist.Line('#Chrono', {
      labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
      series: [[5, 2, 4, 2, 6]]
    }, {
      //width: 1000,
      height: 300
    });

    new Chartist.Bar('#TopProducts', {
      labels: [1, 2, 3, 4],
      series: [[5, 2, 8, 3]]
    });
  </script>
  </body>
</html>