{% load bootstrap4 %}
{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Retail Bot</title>
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'Stellar-master/vendors/simple-line-icons/css/simple-line-icons.css' %}">
        <link rel="stylesheet" href="{% static 'Stellar-master/vendors/flag-icon-css/css/flag-icon.min.css' %}">
        <link rel="stylesheet" href="{% static 'Stellar-master/vendors/css/vendor.bundle.base.css' %}">
        <link rel="stylesheet" href="{% static 'Stellar-master/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'Stellar-master/vendors/chartist/chartist.min.css' %}">
        <link rel="shortcut icon" href="{% static 'Stellar-master/images/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- SIDEBAR -->
      {% include 'seller/sidebar.html' %}
        <div class="main-panel">
          <div class="content-wrapper">
            {% bootstrap_messages %}
            <div class="row">
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4>Распределение заказов</h4>
                    <div class="ct-chart ct-perfect-fourth" id="Orders"></div>
                    <ul class="list-ticked mt-5">
                      <li>Новые: {{orders_new}}</li>
                      <li>Ожидают оплату: {{orders_opened}}</li>
                      <li>Оплаченные: {{orders_closed}}</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4>Топ товаров</h4>
                    <div class="ct-chart ct-perfect-fourth" id="TopProducts"></div>
                    <ol>
                      {% for i in top_products %}
                      <li>{{i.title}}</li>
                      {% endfor %}
                    </ol>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4>Хронология оплат</h4>
                    <div class="ct-chart" id="Chrono"></div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          {% include 'footer.html' %}
        </div>

  <script src="{% static 'Stellar-master/vendors/chartist/chartist.min.js' %}"></script>
  <script src="{% static 'Moment/moment.js' %}"></script>
  <script src="{% static 'Moment/moment-with-locales.js' %}"></script>
  <script type="text/javascript">
    new Chartist.Pie('#Orders', {
      labels: ['Новые', 'Ожидают оплату', 'Оплаченные'],
      series: [{{orders_new}}, {{orders_opened}}, {{orders_closed}}]
    });


    new Chartist.Bar('#TopProducts', {
      labels: [1, 2, 3, 4, 5],
      series: [[{% for i in top_products %}{{i.count}},{%endfor%}]]
    });

    new Chartist.Line('#Chrono', {
      series: [
        {
          name: 'series-1',
          data: [
            {x: new Date(143134652600), y: 53},
            {x: new Date(143234652600), y: 40},
            {x: new Date(143340052600), y: 45},
            {x: new Date(143366652600), y: 40},
            {x: new Date(143410652600), y: 20},
            {x: new Date(143508652600), y: 32},
            {x: new Date(143569652600), y: 18},
            {x: new Date(143579652600), y: 11}
          ]
        }
      ]
    }, {
      axisX: {
        type: Chartist.FixedScaleAxis,
        divisor: 5,
        labelInterpolationFnc: function(value) {
          return moment(value).format('MMM D');
        }
      }
    });
  </script>
  </body>
</html>