{% load bootstrap4 %}
{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Retail Bot</title>
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'Stellar-master/vendors/simple-line-icons/css/simple-line-icons.css' %}">
        <link rel="stylesheet" href="{% static 'Stellar-master/vendors/flag-icon-css/css/flag-icon.min.css' %}">
        <link rel="stylesheet" href="{% static 'Stellar-master/vendors/css/vendor.bundle.base.css' %}">
        <link rel="stylesheet" href="{% static 'Stellar-master/css/style.css' %}">
        <link rel="shortcut icon" href="{% static 'Stellar-master/images/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- SIDEBAR -->
      {% include 'seller/sidebar.html' %}
        <div class="main-panel">
          <div class="content-wrapper">
            {% bootstrap_messages %}
            <div class="card">
              <div class="card-body">
                {% if count > 0 %}
                <p>Всего в системе зарегистрировано <strong>{{count}}</strong> активных позиций.</p>
                {% bootstrap_pagination list size='large' %}
                <table class="table table-hover mt-5 mb-5">
                  <thead>
                    <tr class="thead-dark">
                      <th>#</th>
                      <th>Название</th>
                      <th>Категория</th>
                      <th>Единица измерения</th>
                      <th>Цена</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%for l in list %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{l.title}}</td>
                      <td>{{l.category}}</td>
                      <td>{{l.unit.short}} ({{l.unit}})</td>
                      <td>{{l.price}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% bootstrap_pagination list size='large' %}
                {% else %}
                <p>Кажется, вы пока не загрузили ни одного прайс-листа.</p>
                {% endif %}
              </div>
            </div>

          </div>
          {% include 'footer.html' %}
        </div>
  </body>
</html>